body{
    margin:5%;
    display: flexbox;
}
ul{
    list-style-type: square;
    
}
.input-group{
   width:50%;
   margin-top:0.5em;
}

.input-row{  
    width:50%;
    margin-top:0.5em;
}

input{
    margin-right:1em;
}

h2{
    font-size: 25px;
    padding-left: 1em;
    color:rgb(19, 19, 97);
}
.btn{
    background-color: rgb(194, 221, 243);
    box-shadow: 5px 5px 4px #d6d4d4;
    
}
